//Font import
@import url("https://fonts.googleapis.com/css2?family=Astloch&family=Roboto:wght@400;500;700&display=swap");

/* Font families. */
$display-text: "Astloch", cursive;
$body-text: "Roboto Regular", sans-serif;
$functional-text: "Roboto Bold", sans-serif;

/* Font sizes Desktop */
$fs-desktop-1: 12px;
$fs-desktop-2: 14px;
$fs-desktop-3: 16px;
$fs-desktop-4: 18px;
$fs-desktop-5: 36px;
$fs-desktop-6: 56px;
$fs-desktop-7: 72px;

// /* Line heights Desktop */
$lh-desktop-1: 16px;
$lh-desktop-2: 20px;
$lh-desktop-3: 22px;
$lh-desktop-4: 24px;
$lh-desktop-5: 44px;
$lh-desktop-6: 64px;
$lh-desktop-7: 80px;

/* Font sizes Mobile */
$fs-mobile-1: 10px;
$fs-mobile-2: 12px;
$fs-mobile-3: 14px;
$fs-mobile-4: 16px;
$fs-mobile-5: 24px;
$fs-mobile-6: 36px;
$fs-mobile-7: 44px;

// /* Line heights Mobile */
$lh-mobile-1: 14px;
$lh-mobile-2: 16px;
$lh-mobile-3: 20px;
$lh-mobile-4: 22px;
$lh-mobile-5: 32px;
$lh-mobile-6: 44px;
$lh-mobile-7: 56px;

body,
html {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid red;
}
