@import "_base.scss";

html {
  height: 100vh;
  body {
    font-family: $body-text;
    margin: 0;
    padding: 0;
    header {
      nav {
        border-bottom: 5px solid #0966c2;

        nav ul {
          padding: 0;
          margin: 0;
          list-style-type: none;
          font-size: $fs-mobile-4;
          display: flex;
          justify-content: flex-end;
        }
        nav li:first-child {
          margin-right: auto;
          font-size: $fs-mobile-4;
          padding: 0.5rem 1rem 0 1rem;
          color: #0966c2;
        }
        nav a {
          color: #0966c2;
          text-decoration: none;
          display: block;
          padding: 1rem 1rem 0rem 1rem;
          text-align: center;
        }
        nav span::before {
          content: "\a";
          white-space: pre;
        }
        nav a:hover {
          color: white;
          background-color: #0966c2;
        }
        nav a:hover i {
          color: #f3ba64;
        }
      }
    }
  }
}
