@import "_base.scss";

body {
  font-family: $body-text;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  .hamburger,
  .close {
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    color: $powdered-red;
    margin: 5px 15px 0 0;
  }
  header {
    height: 600px;
    background: linear-gradient(
        rgba(22, 22, 22, 0.5),
        rgba(32, 32, 32, 0.5)
      ),
      url("../assets/banner-toast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
  }
  .powder-texture-banner {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .identity {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #navicon {
    position: absolute;
    z-index: 1000;
    margin: 0 0 0 16px;
    padding: 0;
    width: 40px;
    height: 44px;
    filter: invert(100%);
  }
  nav {
    background-color: $powdered-red;
    border-bottom: 5px solid $powdered-red;
    position: absolute;
    /* a higher z-index put navbar above hamburger */
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* style the bar in one cell and the close button in the other */
    display: flex;
    justify-content: space-between;
    text-align: center;

    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }
  nav ul {
    padding: 0 0 0 10%;
    margin: 0;
    list-style-type: none;
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    letter-spacing: 2px;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  nav:target {
    transform: translateY(0);
  }

  nav li {
    margin-bottom: 10%;
  }

  nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
  }
  .close {
    color: #f3ba64;
  }
  nav a:hover {
    color: #f3ba64;
    background-color: $powdered-red;
  }
  nav a:hover i {
    color: #f3ba64;
  }
  @media (min-width: 875px) {
    header {
      margin: 1rem auto;
    }
    .identity {
      margin-bottom: -120px;
    }
    nav {
      background-color: transparent;
      padding: 0;
      position: static;
      height: auto;
      transform: translateY(0);
    }
    .hamburger,
    .close {
      display: none;
    }
    nav ul {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
    nav a {
      color: $powdered-red;
    }
    nav a:hover {
      color: white;
    }
    nav span::before {
      content: "\a";
      white-space: pre;
    }
  }
  #banner {
    width: 237px;
    height: 306px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    filter: invert(100%);
  }

  .about-title,
  .paring-title {
    margin: 0;
    padding: 16px 0;
    text-align: center;
    color: $powdered-red;
    font-size: $fs-mobile-7;
    line-height: $lh-mobile-7;
    font-family: $display-text;
    letter-spacing: 2px;
  }
  .about-header {
    margin: 32px 0;
    padding: 0;
    text-align: center;
    color: $dark-gray;
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    font-family: $functional-text;
    text-transform: uppercase;
  }
  .about-text {
    margin: 0 16px;
    padding: 0;
    text-align: center;
    color: $light-gray;
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    font-family: $body-text;
  }
  .eat-it-title {
    margin: 32px 0 32px 16px;
    padding: 0;
    text-align: left;
    color: $powdered-red;
    font-size: $fs-mobile-6;
    line-height: $lh-mobile-6;
    font-family: $display-text;
  }

  .eat-it-text {
    margin: 0 16px;
    padding: 0;
    text-align: left;
    color: $light-gray;
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    font-family: $body-text;
  }
  .make-it-title {
    margin: 32px 0 32px 16px;
    padding-left: 0;
    text-align: left;
    color: $powdered-red;
    font-size: $fs-mobile-6;
    line-height: $lh-mobile-6;
    font-family: $display-text;
  }
  .make-it-header {
    margin-left: 16px;
    padding: 0;
    text-align: left;
    color: $dark-gray;
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    font-family: $functional-text;
    text-transform: uppercase;
  }
  .make-it-text {
    margin: 0 16px;
    padding: 0;
    text-align: left;
    color: $light-gray;
    font-size: $fs-mobile-4;
    line-height: $lh-mobile-4;
    font-family: $body-text;
  }
  .paring-text {
    margin: 16px;
    padding: 0;
    text-align: center;
    color: $light-gray;
    font-size: $fs-mobile-3;
    line-height: $lh-mobile-3;
    font-family: $body-text;
  }
  .pairing-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .pairing-item {
      width: 150px;
      .pairing-item-img {
        width: 150px;
        height: 150px;
        border-radius: 16px;
        padding: 5px;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
      }
      .pairing-item-title {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: $functional-text;
        margin: 12px;
        font-size: $fs-mobile-4;
        line-height: $fs-mobile-4;
      }
      .pairing-item-description {
        color: $light-gray;
        font-size: $fs-mobile-2;
        line-height: $lh-mobile-2;
        margin-left: 12px;
      }
    }
  }
}
